#list-logo {
  height: 70px;
}

* {
  margin: 0;
}

.add-form {
  display: flex;
  justify-content: center;
  font-family: impact;
  width: 100%;
}

.add-form input {
  width: 100%;
}

.add-form label {
  justify-content: center;
}

.add-btn input {
    font-family: impact;
    background-color: black;
    font-weight: bold;
    font-size: 1.75em;
    margin-top: 1em;
    color: #fff;
    height: 40px;
    padding-top: 11px;
    margin: 0 auto 0;
    border: none;
}

.del-btn input {
    font-family: impact;
    background-color: #af0000;
    width: 250px;
    font-weight: bold;
    font-size: 2.5em;
    color: #fff;
    height: 50px;
    padding-top: 12px;
    margin: 0.25em auto 0em;
    border: none;
}

.buysell {
  display: flex;
  margin: 10px 0;
}

.buysell input {
  width: 125px;
}

.buysell_input {
  border: 1px solid black;
  padding: 5px 0;
}

.buysell-btn input {
    font-family: impact;
    background-color: #af0000;
    width: 125px;
    font-weight: bold;
    font-size: 1.25em;
    color: #fff;
    height: 25px;
    padding-top: 5px;
    margin: 0.25em auto 0em;
    border: none;
}

.add-btn input:hover {
  background-color: #22333B;
}


.homepage {
  background-image: url("homepage_background.jpg");
  background-size: cover;
  position: relative;
  height: 550px;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center;
  }

.homepage h1 {
  font-family: impact;
  font-size: 14em;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 9%;
  white-space: nowrap;
}

.filters {
  display: flex;
  font-family: impact;
  background-color: #22333B;
  color: white;
  margin-bottom: 0.5em;
  height: 30px;
  align-content: center;
}

.filter-form {
  justify-content: flex-start;
  margin-right: 1em;
  margin-left: 1em;
}

.manu_index {
  text-align: center;
  justify-content: center;
}

.manu_index h2 {
  text-align: center;
}

.manu_item {
  display: flex;
  justify-content: center;
}

.manu_details {
  width: 100%;
  font-family: impact;
  display: block;
  justify-content: center;
  text-align: center;
  margin: 0px auto 20px;
}

.cat_index {
  text-align: center;
  justify-content: center;
}

.cat_item {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  color: white;
  background-color: black;
}

.cat_item p {
  font-family: impact;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 11px;
}

.new_dropdown {
  justify-content: right;
}

.cat-title {
  display: flex;
  justify-content: center;
  margin: 0 auto 0.5em;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  color: white;
  background-color: #22333B;
}

.cat-title p {
  font-family: impact;
  font-weight: bold;
  font-size: 3em;
  padding-top: 5px;
}

.add {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
  height: 50px;
  color: white;
  background-color: #22333B;
}

.add a {
  font-family: impact;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 12px;
}

.prod_edit {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 50px;
  color: white;
  background-color: #22333B;
}

.prod_edit a {
  font-family: impact;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 12px;
}

.heading {
  display: flex;
  justify-content: center;
  margin: 0 auto 1em;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  color: white;
  background-color: #22333B;
}

.heading p {
  font-family: impact;
  font-weight: bold;
  font-size: 3em;
  padding-top: 5px;
}

.cat_item a, a.visited{
  color: #fff;
}

.container {
  display: block;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline
}

td {
  font-family: sans-serif;
  justify-content: center;
  font-size: 0.8em;
}

.bikes {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5em;
}

.bikes td {
  border: 1px solid #aaa;
}

.bikes th {
  background-color: #000;
  color: white;
  height: 30px;
}

.bikes p {
  font-family: impact;
  padding-top: 10px;
}

.bikes tr:nth-child(odd){background-color: #f2f2f2;}

#status {
  color: red;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  justify-content: center;
  width: 100%;
  align-content: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a, a.visited{
  color: #fff;
  text-decoration: none;
}

.bikes a
{
  display:block;
  color: black;
}

.title {
  color: white;
  background-color: black;
}

.prod_details {
  font-family: impact;
  font-weight: normal;
}

.prod_details h3 {
  font-size: 2em;
}

.prod_details p {
  padding-left: 10px;
}


nav li a {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 7px 16px 0px;
  width: 30%;
  height: 28px;
  text-align: center;
  font-family: impact;
  text-decoration: none;
  bottom=margin: 1em;
  font-size: 1.75em;
}


nav li a:hover {
  background-color: #22333B;
}
