#list-logo {
  height: 70px;
  width: auto;
  display: center
}

.filters {
  display: inline;
}

ul {
  list-style-type: none;
}

li {
  display: inline
}

p, h1, h2, h3, a {
  font-family: sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0 1%;
  padding: 0;
  background-color: #333;
  width: 98%;
  align-content: center;
}

nav li a {
  display: inline-block;
  color: #fff;
  padding: 8px 16px;
  width: 30%;
  height: 20px;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  border: 1px solid #444;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
