<div class="cat_index">
  <div class="heading">
    <p>CATEGORIES</p>
  </div>

  <ul>
    <div class="container">
      <div class="add">
        <a href="/categories/new">ADD</a>
      </div>
      <br/>
      <% for category in @categories %>
      <div class="cat_item"><li><p><a href="/categories/<%= category.id %>"><%= category.name.upcase %></a></p></li></div>
      <br/>
      <% end %>
      </div>
  </ul>


</div>
