<div class="add-form">

<form  method="post" action="/categories">

    <label for="name">NAME:</label>
          <input type="text" name="name" id="name"/>

    <div class="add-btn">
      <input type="submit" value="ADD CATEGORY"/>
    </div>

</form>

</div>
