<div class="manu_index">
  <div class="heading">
    <p>MANUFACTURERS</p>
  </div>

<ul>
  <div class="container">
    <div class="add">
      <a href="/manufacturers/new">ADD</a>
    </div>
    <br/>
  <% for manufacturer in @manufacturers %>
    <div class=manu_item"><li><a href="/manufacturers/<%= manufacturer.id %>" > <img src="<%= manufacturer.logo_url %>" id="list-logo"/></a></li></div>
    <% end %>
</div >
</ul>


</div>
