<div class="add-form">

<form  method="post" action="/manufacturers">

    <label for="name">NAME:</label>
          <input type="text" name="name" id="name"/>
    <br/>

    <label for="contact_details">CONTACT DETAILS:</label>
          <input type="text" name="contact_details" id="contact_details"/>
    <br/>

    <label for="logo_url">LOGO URL:</label>
          <input type="text" name="logo_url" id="logo_url"/>
    <br/>

    <div class="add-btn">
      <input type="submit" value="Add Manufacturer"/>
    </div>

</form>

</div>
