<p>Bikes:</p>
<ul>
  <% for product in @products %>
  <li><p>Name: <a href="/products/<%= product.id %>"><%= product.brand_name %></a></p></li>
  <li><p>Quantity: <%= product.quantity %> </p></li>
  <hr/>
  <% end %>
</ul>
